<!-- <img class="spot_img" src="/img/thumb_IMG_0108_1024.jpg" alt=""> -->

<div class="review">
    <h2>{{review.review.title}}</h2>
    <h3>{{review.review.address}}</h3>

    <p>{{review.review.basic}}</p>
</div>

<!-- <div class="ratings">
    <h1>AF</h1>
    <h4>Extra review magic box</h4>
    
    <table class="features">
        <tr>
            <td><strong>V</strong> <span>Vegan</span></td>
            <td><strong>V</strong> <span>Vegan</span></td>
            <td><strong>V</strong> <span>Vegan</span></td>
            <td><strong>V</strong> <span>Vegan</span></td>
        </tr>
    </table>

    <table class="score-card">
        <tr>
            <td>Signifigantly tattooed staff</td>
            <td><strong>+10</strong></td>
        </tr>
        <tr>
            <td>Op-shop furniture</td>
            <td><strong>+50</strong></td>
        </tr>
        <tr>
            <td>Local artist art on walls</td>
            <td><strong>+34</strong></td>
        </tr>
        <tr>
            <td>Lots of bike parking</td>
            <td><strong>+25</strong></td>
        </tr>
    </table>

    <footer>
        <strong class="score">119</strong>
        <p class="score-unit">Mustaches</p>
        <img src="/img/mustache.png" />
    </footer>
</div>-->